%h1 Teams

%table.table.table-striped.table-bordered
  %thead
    %tr
      %td
      %td Team
      %td Spiele
      %td Siege
      %td Niederlagen

  %tbody
    = render :partial => "team_for_table", :collection => @teams
