-# TODO: Check if JSON.parse here really is the way to go!
= react_component "Teams", teams: JSON.parse(render(template: "teams/index.json.jbuilder")),
    players: current_league.users.order(name: :asc).map{ |user| {id: user.id, name: user.name}}
