/* line 4, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
html, body, ul, li, p {
  font-family: sans-serif;
  font-size: 13px;
}

/* line 8, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
strong {
  font-weight: bold;
}

/* line 11, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-list {
  overflow: hidden;
  width: 100%;
  padding: 0;
}
/* line 15, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-list > li {
  list-style-type: none;
  float: left;
  width: 300px;
  min-height: 100px;
  overflow: hidden;
  border: 1px solid silver;
  padding: 10px;
  margin: 10px;
}
/* line 24, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-list > li > ul {
  padding: 0;
}

/* line 27, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-var {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 31, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-var > .smurfville-color-var--name {
  float: left;
}
/* line 33, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-var > .smurfville-color-var--mappings {
  padding: 0;
  float: right;
}
/* line 36, /Users/slogmen/.gem/ruby/2.4.2/gems/smurfville-0.1.2/app/assets/stylesheets/smurfville/application.css.sass */
.smurfville-color-var > .smurfville-color-var--mappings > li {
  text-align: right;
  list-style-type: none;
}
