%table.table.table-striped.table-bordered
  %thead
    %tr
      %td
      %td.no_mobile Name
      %td Elozahl
      %td Tendenz
      %td Bilanz
  %tbody
    - @users.each_with_index do |user, index|
      %tr
        %td= image_tag(user.image)
        %td.no_mobile= user.name
        %td= user.quote
        %td
          - if index == 0
            %i.icon-star{ :title => ranking_title(user, index) }
          - else
            %i{ :class => current_ranking(user, index), :title => ranking_title(user, index) }
        %td= match_balance(user.number_of_wins, user.number_of_loses)
