%section
  %h1 
    = @tournament.name
%section
  %p 
    Turniername:
    = @tournament.name
  %p
    Location:
    = @tournament.location
  %p
    Verfügbare Tische:
    = @tournament.number_of_tables
