$black: #000
$white: #FFF
$lighter-grey: #eaeaea
$light-grey: #cbcbce
$grey: #89898b
$dark-grey: #454548

$green: #5FAF3E
$light-green: tint($green, 75)


$red: #954142

$facebook-color: #537bbd
$twitter-color: #78cdf0
// ----- color mappings ------

// backgrounds
// $background-color: $white
$error-color: $red
$success-color: $green
