$black: #000
$white: #FFF
$lighter-grey: #fafafa
$light-grey: #cbcbce
$grey: #89898b
$dark-grey: #454548

$dark-green: #71904B
$light-green: #CBED52

$orange: #FFAA64
$yellow: #F3D959
$red: #F0765E
$dark-blue: #008EAD
$blue: #76AEC1
$light-blue: #DAF4FB
$green: #ACC86B
$pink: #E2969A
$gras-green: #7D8B52

$facebook-color: #537bbd
$twitter-color: #78cdf0
// ----- color mappings ------

// backgrounds
// $background-color: $white
$error-color: $red
$success-color: $green
$shadow-color: shade($green, 30%)

$facebook-blue: #475c91
$twitter-blue: #2daae2
$google-red: #d94a3a
$linkedin-blue: #0274b3
