html, body
  margin: 0
  padding: 0
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
img
  border: none
a
  color: $black
  text-decoration: none
  &:hover
    text-decoration: underline
ul
  padding-left: 0
  list-style-type: none
