.l-header
  background-color: $light-gray
  border-bottom: 1px solid $gray
  padding: 5px 0
  .l-header--content
    +layout_width($content-width)
    position: relative
.l-content
  +layout_width($content-width)
  position: relative
  .l-content--main
    width: $content-width - $sidebar-with
    float: left
  .l-content--sidebar
    width: $sidebar-with
    float: right
    padding-top: 53px
