.m-badge
  display: block
  border: 3px solid $green
  background: rgba($green, 0.3)
  padding: $padding
  margin: 0 $margin $margin 0
  .m-badge--logo
    font-size: 40px
  &.as-bad
    border-color: $red
    background: rgba($red, 0.3)
    hr
      border-color: $red
  .m-badge--logo, .m-badge--image
    float: left
  .m-badge--title
    clear: both
  hr
    border-color: $green
.m-badge-list
  +pie-clearfix
  .m-badge
    float: left
    width: 370px
    +breakpoint($mobile)
      width: 100%
      +box-sizing(border-box)

= badgecolor($color)
  background: $color
  i
    color: tint($color, 80%)

.m-badge-icon
  width: 100px
  height: 100px
  border-radius: 100%
  background: $black
  text-align: center
  padding-top: 12px
  i
    font-size: 60px
    color: $white
  &.as-crawling
    +badgecolor($orange)
    i
      @extend %icon-star
  &.as-longest_winning
    +badgecolor($yellow)
    i
      @extend %icon-award
  &.as-most_teams
    +badgecolor($light-green)
    i
      @extend %icon-users
  &.as-winning_streak
    +badgecolor($blue)
    i
      @extend %icon-rocket
  &.as-last_one
    +badgecolor($red)
    i
      @extend %icon-lightbulb
  &.as-crawler
    +badgecolor($pink)

