.m-button
  font-size: 18px
  border: none
  background-color: $green
  padding: $padding
  color: $white
  cursor: pointer
  display: inline-block
  &:hover
    background-color: shade($green, 10%)
    text-decoration: none
