.m-input
  border: 1px solid $grey
  padding: $padding
  font-size: 18px
  width: 300px
  &.as-short
    width: 26px
  @media screen and (max-width: 760px)
    -webkit-appearance: none
    font-size: 16px
    &.as-short
      padding: 5px
      width: 20px
