.m-karl-crawl--wrapper
  position: fixed
  z-index: 3
  width: 100%
  height: 100vw
  background: rgba($black, 0.8)
  left: 0
  top: 0
  +breakpoint($mobile)
    display: none
  .m-karl-crawl--close
    position: absolute
    right: 60px
    top: 60px
    width: 100px
    height: 100px
    line-height: 80px
    border-radius: 100%
    text-align: center
    font-size: 40px
    background: $white
    border: 10px solid $light-grey
    cursor: pointer
    &:hover
      background: $light-grey
      border-color: $white
      color: $white
.m-karl-crawl
  width: 440px
  left: calc(50% - 220px)
  position: absolute
  z-index: 4
  img
    width: 100%
  .m-karl-crawl--content
    position: absolute
    top: 213px
    height: 200px
    left: 40px
    width: 241px
    .m-karl-crawl--text--headline
      color: $yellow
      text-align: center
      font-size: 40px
      font-weight: bold
      margin-top: 5px
    .m-karl-crawl--text--description
      padding: 0 $padding
      text-align: center

    .m-karl-crawl--buttons
      position: absolute
      bottom: 0
      width: 100%
      margin-bottom: 0
      +clearfix
      .c-sharing--button
        width: 50%
        box-sizing: border-box
        display: block
        float: left
        &.as-facebook
          margin: 0
          border-bottom-left-radius: 3px
        &.as-twitter
          border-bottom-right-radius: 3px
