=colored($color)
  color: shade($color, 20%)
  .m-league--header
    background: $color
  .m-league--body
    background: tint($color, 50%)
  .m-league--icon
    font-size: 36px
  &:hover
    color: $white
    .m-league--body
      background: $color

.m-league-list
  +clearfix
  .m-league
    float: left
    width: 305px
    margin: 0 $margin $margin 0
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(6n+2)
      +colored($yellow)
    &:nth-child(6n+3)
      +colored($pink)
    &:nth-child(6n+4)
      +colored($orange)
    &:nth-child(6n+5)
      +colored($red)
    &:nth-child(6n+6)
      +colored($green)
.m-league
  display: block
  color: $white
  text-align: center
  +colored($blue)
  .m-league--header
    padding: $padding
    text-transform: uppercase
    height: 43px
    color: $white
  .m-league--body
    padding: $padding
    height: 150px
  .m-league--fact
    font-size: 36px
  .m-league--icon
    font-size: 36px
  &:hover
    text-decoration: none
  &.as-new
    .m-league--icon
      margin-top: 40px
      display: block
