.m-match-list
  +clearfix
  padding: $margin
  border: 1px solid $blue
  background: $white
  clear: both
  .m-match
    float: left
    margin-right: 90px
    margin-bottom: $padding
    &:nth-child(2n)
      margin-right: 0
  +breakpoint($mobile)
    .m-match
      margin-right: 0
      margin-bottom: 10px
      &.as-single
        margin-right: 45%
.m-match-list--group
  +clearfix
  margin-bottom: $margin
  border-bottom: 1px solid $blue
.m-match-list--headline
  clear: both
  color: $blue
.m-match
  position: relative
  +clearfix
  .m-match--team
    border-top: 5px solid $red
    float: left
    +clearfix
    .m-match--team--member
      float: left
    img
    &.as-winner
      border-color: $green
      margin-right: 10px
  .m-match--score
    background: $white
    width: 50px
    height: 50px
    text-align: center
    border-radius: 100%
    z-index: 1
    color: $black
    position: absolute
    left: calc(50% - 25px)
    top: 20px
    padding-top: 5px
    transition: 0.1s ease-in-out all
    .m-match--score--difference
      font-size: 16px
      color: $green
      position: relative
      top: -5px
      transition: 0.1s ease-in-out all
    &.as-winner, &.as-loser
      color: $white
      .m-match--score--difference
        color: $white
    &.as-winner
      background: $green
    &.as-loser
      background: $red
  .m-match--actions
    +pie-clearfix
    text-align: center
    clear: both
    position: relative
    .m-link
      color: $white
      background: $red
      width: 33%
      display: block
      float: left
      text-align: center
      border: 1px solid $white
      box-sizing: border-box
      &.as-facebook
        background: $facebook-blue
      &.as-twitter
        background: $twitter-blue
  +fade_in(".m-match--actions", 0.5s)
  &.as-single
    margin-right: 250px
    width: 170px
  &.as-crawling
    .m-match--team
      position: relative
      &:before
        content: ''
        background: rgba($red, 0.8) image-url('krabbel-icon-white.png') no-repeat center center
        background-size: cover
        border-radius: 100%
        width: 30px
        height: 30px
        display: block
        position: absolute
        left: calc(50% - 15px)
        top: calc(50% - 15px)
      &.as-winner
        &:before
          display: none
  &:hover
    .m-match--score
      width: 70px
      height: 70px
      font-size: 26px
      top: 10px
      left: calc(50% - 35px)
      .m-match--score--difference
        font-size: 20px
  +breakpoint($mobile)
    .m-match--team
      width: 50%
      .m-match--team--member
        width: 50%
        display: block
        img
          width: 100%
          max-width: 120px
          min-width: 80px
      &.as-winner
        margin-right: 0
    .m-match--score
      margin-top: 40px
    &.as-single
      .m-match--team
        .m-match--team--member
          width: 100%
