.m-match-list
  .m-match
    float: left
    margin-right: 50px
    margin-bottom: 20px
.m-match
  position: relative
  +clearfix
  .m-match--team
    border-top: 5px solid $red
    float: left
    +clearfix
    .m-match--team--member
      float: left
    img
    &.as-winner
      border-color: $green
      margin-right: 10px
  .m-match--score
    background: $white
    width: 50px
    height: 50px
    text-align: center
    border-radius: 100%
    z-index: 1
    color: $black
    position: absolute
    left: calc(50% - 25px)
    top: 20px
    padding-top: 5px
    transition: 0.1s ease-in-out all
    .m-match--score--difference
      font-size: 16px
      color: $green
      transition: 0.1s ease-in-out all
  .m-match--actions
    +pie-clearfix
    text-align: center
    clear: both
    a
      color: $black
  +fade_in(".m-match--actions", 0.5s)
  &.as-single
    margin-right: 210px
  &.as-crawling
    .m-match--team
      position: relative
      &:before
        content: ''
        background: rgba($red, 0.8) image-url('krabbel-icon-white.png') no-repeat center center
        background-size: cover
        border-radius: 100%
        width: 30px
        height: 30px
        display: block
        position: absolute
        left: calc(50% - 15px)
        top: calc(50% - 15px)
      &.as-winner
        &:before
          background-color: rgba($green, 0.8)
  &:hover
    .m-match--score
      width: 70px
      height: 70px
      font-size: 26px
      top: 10px
      left: calc(50% - 35px)
      .m-match--score--difference
        font-size: 20px
  +breakpoint($mobile)
    width: 122px
    &:nth-child(2n)
      margin-right: 0
