.m-match-list
  .m-match
    float: left
    margin-right: $padding
    margin-bottom: $padding
.m-match
  border: 1px solid $light-grey
  padding: $padding
  position: relative
  .m-match--date
    margin-bottom: $padding
  .m-match--team
    img
      margin-right: 2px
    &.as-winner
      margin-bottom: $margin
    .m-match--team--member:first-child
      margin-right: $padding
  .m-match--score
    font-size: 30px
    text-align: center
    background-color: rgba(0,0,0,0.8)
    padding: 2px 5px
    color: $white
    position: absolute
    margin-top: -36px
    margin-left: 15px
    .m-match--score--difference
      font-size: 16px
  .m-match--actions
    +pie-clearfix
    .m-match--actions--delete, .m-match--actions--edit
      float: left
    .m-match--actions--edit
      margin-right: 5px
  +fade_in(".m-match--actions", 0.5s)
  &.as-crawling
    background-color: $green
    color: $white
    .m-link
      color: $white
  +breakpoint($mobile)
    &:nth-child(2n)
      margin-right: 0
