.m-profile-teams
  +pie-clearfix
  .m-profile-teams--best, .m-profile-teams--worst
    float: left
    margin-right: $margin

.m-profile-basics
  +pie-clearfix
  .m-user, .m-profile-basics--values
    float: left
    margin-right: $margin
