.m-profile-teams
  a
    color: $black
  +pie-clearfix
  .m-profile-teams--best, .m-profile-teams--worst, .m-profile-basics
    float: left
    margin-right: $margin

.m-profile-basics
  +pie-clearfix
  .m-user, .m-profile-basics--values
    float: left
    margin-right: $margin

.m-profile-basics--value
  .as-positive
    color: $success-color
    font-weight: bold
  .as-negative
    font-weight: bold
    color: $error-color
