.m-ranking
  .m-ranking--item
    +fade_in(".m-ranking--item--place", 0.25s)
    clear: both
    font-family: $headline-font-family
    a
      color: $black
      &:hover
        text-decoration: none
    .m-ranking--item--image
      float: left
      margin-right: $padding
      img, .m-user-image
        width: 60px
        height: 60px
    .m-ranking--item--place
      position: absolute
      z-index: 3
      font-size: 40px
      text-align: center
      width: 60px
      height: 60px
      background: $blue
      color: $white
    .m-ranking--item--score
      font-size: 18px
      color: $blue
      .m-ranking--item--score--quota
        float: left
        margin-right: 2px
    .m-ranking--item--balance
      font-size: 14px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      padding-top: 16px
      margin-bottom: 1px
    &:last-child
      border-bottom: none
    .m-ranking--item--badge
      float: left
      width: 20px
      height: 20px
      text-align: center
      padding: 0
      margin-right: 2px
      i
        position: relative
        top: -6px
        font-size: 12px
  +breakpoint($mobile)
    .m-ranking--item .m-ranking--item--place
      opacity: 1
    .m-ranking--item .m-ranking--item--image
      margin-left: 60px
