.m-scoring
  +clearfix
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  display: none
  z-index: 1
  .m-scoring--team
    float: left
    width: 100%
    height: 35%
    color: $white
    position: absolute
    &.as-top
      background: rgba($dark-grey, 0.7)
      .m-scoring--team--back
        top: 0
        bottom: inherit
      top: 0
    &.as-bottom
      background: rgba($dark-grey, 0.7)
      bottom: 0
    .m-scoring--team--back
      @extend %m-button
      width: 100%
      position: absolute
      bottom: 0
      text-align: center
      padding: 5px 0
      opacity: 0.5
  .m-scoring--count
    position: absolute
    top: 35%
    background: $dark-grey
    width: 100%
    height: 30%
    text-align: center
    .m-scoring--count--numbers
      input
        display: inline
        font-size: 30px
        width: 60px
        padding: $padding
        text-align: center
        border: none
        background: transparent
        color: $white
    .m-scoring--count--button
      @extend %m-button
      width: 100%
      padding: 5px 0
      margin-top: 0
  +breakpoint($mobile-wide-breakpoint)
    // .m-scoring--count
    //   width: 40%
    //   float: left
    // .m-scoring--team
    //   float: left
    //   width: 30%
    //   height: 100%
