.m-user-list
  .m-user-list--item
    margin-bottom: $padding

.m-user
  +pie-clearfix
  +fade_in(".m-user--image--position", 0.5s)
  padding: 5px
  margin: 5px
  color: $black
  background-color: $white
  a
    color: $black
  a:hover
    text-decoration: none
  .m-user--image
    float: left
    margin-right: $padding
    position: relative
    .m-user--image--position
      background-color: rgba(255, 255, 255, 0.75)
      color: $black
      font-size: 40px
      line-height: 50px
      text-align: center
      position: absolute
      width: 100%
      height: 100%

      &.as-positive
        background-color: rgba(33, 154, 52, 0.75)
      &.as-negative
        background-color: rgba(206, 97, 0, 0.75)

  .m-user--quote
    font-size: 30px
  .m-user--balanace
    font-size: 12px
  &:hover
    .m-user--image--position
      opacity: 0.8
