.m-user-list
  +pie-clearfix
  .m-user
    float: left
    margin-right: 3px
    margin-bottom: 3px
    cursor: pointer
    opacity: 0.5
    &:hover, &.as-selected
      opacity: 1
    &.as-disabled
      opacity: 0.25
      pointer-events: none
  input
    display: none
.selects
  clear: both
  position: relative
  .m-user-select
    float: left
    &:first-child
      margin-right: $padding
  +breakpoint($mobile)
    select
      width: 100%
.m-user
  border: 1px solid $grey
  padding: 2px
  width: 54px
  height: 54px

.m-user-image
  width: 80px
  height: 80px
  overflow: hidden
  display: inline-block
  &.as-default
    text-align: center
    font-weight: bold
    font-size: 24px
    line-height: 68px
    color: $white
    // text-transform: uppercase
    text-shadow: 0 0 3px $black
    background: image-url('default_user.png') no-repeat center center
    background-size: 80px 80px

.m-user-select
  width: 150px
  height: 150px
  border: 1px solid $white
  background: $blue
  background-size: cover
  position: relative
  margin-top: 40px
  cursor: pointer
  &:hover
    background-color: $orange
  .selectize-control
    position: absolute
    top: -30px
    width: 100%
  &:before
    @extend %icon-male
    display: block
    color: $white
    font-size: 50px
    margin-left: 70px
    margin-top: 40px
  &.has-image
    &:before
      display: none
  +breakpoint($mobile)
    margin-top: 0
    width: 140px
    height: 140px
    select
      width: 100%
      height: 100%
      position: absolute
      opacity: 0
      top: 0
.m-user-select--icon
  position: absolute
  top: 40px
  &:before
    @extend %icon-plus
    display: block
    color: $white
    font-size: 20px
    margin-left: 50px
    margin-top: 60px
  &:last-child
    left: 50%
  +breakpoint($mobile)
    top: 0

.user-selection
  .as-interactive
    display: none
