%h2
  .m-headline
    = "Neue Spiele"
    .m-headline--small= "(insgesamt #{@match_count})"
%ul.m-match-list
  - @matches.each do |match|
    %li.m-match-list--item
      = render "match", :match => match
