= form_tag shuffle_league_matches_path(current_league) do
  %h3 Bitte 4 Spieler wählen
  - users = current_league.users.ranked
  .m-user-list{data: {behaviour: :shuffle_select, count: 0 }}
    - users.select{|user| user.matches.any? && user.matches.first.date > 2.weeks.ago }.each do |user|
      .m-user{title: user.name, data: {value: user.id} }= user_image(user)
    - users.select{|user| !user.matches.any? || user.matches.first.date <= 2.weeks.ago }.each do |user|
      .m-user{title: user.name, data: {value: user.id} }= user_image(user)
  .hidden_inputs
    - 4.times do |i|
      = text_field_tag "user_ids[]", "", data: {player: "#{i}"}
  .m-form--row
    = submit_tag "Teams auslosen", class: 'm-button'
