#matches_new, #matches_shuffle
  #new_match
    +pie-clearfix
  .c-mobile-buttons
    text-align: center
    .m-button
      margin-top: $padding

  .m-team-select
    width: 330px
    float: left
  .input-rows
    float: left
    width: 120px
    margin-top: 33px
    .m-button
      margin-top: $margin
    .m-form--row
      margin-bottom: $padding
    +breakpoint($mobile)
      display: none
  +breakpoint($mobile)
    .l-header-wrapper
      display: none
    .c-mobile-start
      margin-top: $margin
    .m-team-select
      width: 100%
    .m-user-list
      width: 92px
      .m-user
        width: 42px
        height: 42px
        padding: 0px
        img
          width: 40px
          height: 40px
    .input-rows
      width: 110px



#matches_edit
  .score
    position: relative
    top: 14px
.hidden_inputs
  display: none
