#matches_new, #matches_shuffle
  #new_match
    +pie-clearfix
  .l-content-wrapper
    padding: 0
  .c-mobile-buttons
    text-align: center
    .m-button
      width: 100%
    .m-link
      text-transform: uppercase
      color: $blue
      padding: 10px 0
      display: block
      background: $white
  .m-team-select
    width: 330px
    float: left
    position: relative
  .input-rows
    float: left
    width: 120px
    margin-top: 33px
    .m-button
      margin-top: $margin
    .m-form--row
      margin-bottom: $padding
    +breakpoint($mobile)
      display: none
  +breakpoint($mobile)
    .l-header-wrapper
      display: none
    .m-team-select
      width: 100%
      float: none
      +clearfix
      .m-headline
        display: none
    .m-user-select
      width: 50%
      margin-right: 0
    .m-user-list
      width: 92px
      .m-user
        width: 42px
        height: 42px
        padding: 0px
        img
          width: 40px
          height: 40px
    .input-rows
      width: 110px



#matches_edit
  .score
    position: relative
    top: 14px
.hidden_inputs
  display: none
