#pages_imprint, #pages_faq
  background-image: linear-gradient($light-blue, $light-blue 60px, $gras-green 60px, $gras-green)
  .c-footer-content
    color: $white
    a
      color: $white
    svg
      path
        fill: $white
