%section
  %h3
    %p
      Turnier ID =
      = @tournament.id
      -# Spieler:
      -# - @tournament_users.each_with_index do |user|
        -# %p
          -# = user.name
    %p
      Anzahl Spieler:
      = @tournament.users.count
    %p
      Anzahl Teams:
      -# = @tournament.teams.count
    %p
      Anzahl Spiele:
      = @tournament.number_of_matches
