ul
  +horizontal-list
.match
  border: 1px solid black
  +border-radius(5px)
  padding: 10px

  .date
    text-align: center
  .score
    text-align: center
    font-size: 24px
    margin: 10px 0
  &.crawling
    background-color: #eee
.balanace
  position: absolute
  background-color: black
  opacity: 0.7
  color: white
  padding: 5px 10px
  +border-radius(5px)
  font-weight: bold
  margin-left: 30px
label
  input[type=checkbox]
    display: inline
.teams
  li
    padding: 0 10px 10px 0
