ul
  list-style: none

ul.teams, .navbar ul
  +horizontal-list
.team
  border: 1px solid black
  +border-radius(5px)
  padding: 10px
  .record
    text-align: center
    font-size: 24px
    margin: 10px 0

.match
  border: 1px solid black
  +border-radius(5px)
  padding: 10px

  .date
    text-align: center
  .score
    text-align: center
    font-size: 24px
    margin: 10px 0
  .loser
    opacity: 0.5
  &.crawling
    background-color: #eee
label
  input[type=checkbox]
    display: inline
.teams
  li
    padding: 0 10px 10px 0
h1
  margin: 10px 0
.user_list
  li
    padding: 5px
    border: 1px solid black
    margin-bottom: 10px
    img
      width: 65px
      margin-right: 5px
    .balanace
      font-size: 20px

.container.flash_messages
  margin-top: 40px
#main-content
  +pie-clearfix
  .main
    width: 780px
    float: left
  .sidebar
    margin-top: 57px
    width: 160px
    float: right
